<div class="row mb-4">
  <div class="col-md-12">
    <h4>Satellite Data Input</h4>
    <hr />
  </div>
  <div class="col-md-12">
    <div class="form-group mb-3">
      <label>Input Method</label>
      <div class="btn-group w-100" role="group" data-toggle="buttons">
        <input
          type="radio"
          class="btn-check"
          name="input_method"
          id="{{ prefix }}input_norad"
          value="norad"
          checked
        />
        <label class="btn btn-outline-primary" for="{{ prefix }}input_norad"
          >NORAD ID</label
        >

        <input
          type="radio"
          class="btn-check"
          name="input_method"
          id="{{ prefix }}input_tle"
          value="tle"
        />
        <label class="btn btn-outline-primary" for="{{ prefix }}input_tle"
          >Manual TLE</label
        >
      </div>
    </div>
  </div>

  {% include 'shared/norad_input.html' %} {% include 'shared/tle_input.html' %}
</div>
